*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-size: 16px;
	line-height: 1.4;
	background-color: #f5f5f5;
	color: #111;
}

header {
	padding: 1em;
	background-color: #147ccc;
	color: white;
	text-align: center;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 5em;
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #cdcdcd;
}
