@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	--color-text: #6f6f6f;
	--color-border: #e0e0e0;

	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: "Source Sans 3", Arial, sans-serif;

	font-size: 14px;
	line-height: 1.2;
	background-color: #ededed;
	color: var(--color-text);
}

header {
	padding: 0.7em 1em;
	background-color: #1e5a8f;
	color: #f0f0f0;
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 3em;
	padding: 3em 1em;
}

/* ---CARD--- */
.card {
	background-color: #f6f6f6;
	font-weight: 600;
	border: 2px solid var(--color-border);
}
.card > div {
	padding: 0.75em;
	border-bottom: 1px solid var(--color-border);
}
.card > div:last-child {
	border-bottom: none;
}
.card > div.card-title {
	padding-block: 1em;
	font-weight: bold;
}
/* ---CARD--- */

/** ---INFO CARD--- */
.info-card {
	width: 18em;
}

.info-card-title {
	text-align: center;
}
.info-card > div:not(.card-title) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}
.info-card > div > span:first-child {
	font-size: 0.85em;
}
.info-card > div > span:last-child {
	max-width: 10em;
	text-align: end;
	/*font-weight: 700;*/
}

.info-card-amount__label {
	text-transform: uppercase;
	color: #0b5c98;
}
.info-card-amount__value {
	color: #222222;
	font-weight: bold;
	font-size: 1.2em;
}
/** ---INFO CARD--- */

footer {
	padding: 1em;
	background-color: #d0d0d0;
}
